# config.yml.j2
MYSQL_HOST: "{{ mysql_host }}"
MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
MYSQL_ROOT_USERNAME: "{{ mysql_root_username }}"
RUN_MYSQL: "{{ false }}"
RUN_MONGODB: "{{ false }}"
RUN_ELASTICSEARCH: "{{ false }}"
